body {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;

}
fieldset {
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: grey 2px 2px 2px;
    
}
fieldset:hover {
    background-color: white;
    color: rebeccapurple;
    cursor: pointer
}
h2 {
    text-shadow:pink 2px 2px 2px;
}
h4{
    font-size: bold;
}